/* Resetear márgenes y padding, y ajustar box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Configurar el tamaño base para que 1rem = 1px (opcionalmente 62.5% para 1rem = 10px) */
html {
    font-size: 62.5%;
}

:root {

    /*Paleta de colores*/

    --primary-color: #1B2838;
    --primary-color-2: #21526D;
    --primary-color-3: #79ADCB;

    --secondary-color: #1173BA;
    --secondary-color-2: #1A9FFF;
    --secondary-color-3: #89CEFF;

    --acent-color: #4C6B22;
    --acent-color-2: #4F8B20;
    --acent-color-3: #59BF40;
    --acent-color-4: #86E46E;

    --white-color: #CCD8E3;


    --black-color: #000000;
    --black-color-2: #1E1E1E;
    --black-color-3: #343436;
    --black-color-4: #424345;

    /*Fuentes*/

    --font-family-noto-sans: 'Noto Sans', sans-serif;
    --font-family-montserrat:'Montserrat', sans-serif;


    /* Tamaños de Noto Sans */
    --font-size-h1-large: 4rem;
    --font-size-h1-medium: 3.6rem;
    --font-size-h1-small: 3.2rem;

    --font-size-h2-large: 2.4rem;
    --font-size-h2-small: 2rem;

    --font-size-h3-large: 1.6rem;
    --font-size-h3-medium: 1.4rem;
    --font-size-h3-small: 1.2rem;
    --font-size-h3-xsmall: 1rem;

    /* Tamaños de Montserrat */
    --font-size-montserrat-large: 4rem;
    --font-size-montserrat-small: 3.2rem; 
}


body {
    font-family: var(--font-family-noto-sans);
    background-color: var(--primary-color);
}


footer {
    background-color: var(--black-color-3);
    color: var(--white-color);
    padding: 4rem 2rem;

}

footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-section {
    flex: 1;
    min-width: 20rem;
    margin: 2rem;
}

.footer-section h3 {
    font-size: var(--font-size-h2-small);
    font-family: var(--font-family-montserrat);
    margin-bottom: 1.4rem;
    border-bottom: 0.2rem solid var(--white-color);
    padding-bottom: 5px;
}
.img-logo-footer{
    width: 5rem;
    height: 5rem;
}

.logo-footer{
    display: flex;
    justify-content: center;
    justify-items:center;
    gap: 2rem;
}

.footer-section .logo-footer p{
    font-size: var(--font-size-h1-small);
    font-family: var(--font-family-montserrat);
    font-weight: bold;
}
.footer-section p,
.footer-section ul {
    font-size: var(--font-size-h3-medium);
    line-height: 1.6;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 1rem;
}

.footer-section ul li a {
    color: var(--white-color);
    text-decoration: none;
}

.footer-section ul li a:hover {
    color: var(--white-color);
}

footer .social-icons {
    display: flex;
    gap: 1rem;
}

footer .social-icons li {
    display: inline-block;
}

footer .social-icons a {
    color: var(--white-color);
    font-size: 2rem;
    text-decoration: none;
}

footer .social-icons a:hover {
    color: var(--white-color);
}

.footer-section form {
    display: flex;
}

.footer-section form input {
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    margin-right: 1rem;
    flex-grow: 1;
}


.footer-bottom {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid var(--white-color);
    text-align: center;
}

.footer-bottom p {
    margin: 0;
    font-size: var(--font-size-h3-large);
    font-weight: bold;
}

.footer-bottom ul {
    list-style: none;
    padding: 0;
    margin: 1rem 0 0;
}

.footer-bottom ul li {
    display: inline;
    margin: 0 1rem;
    font-size: var(--font-size-h3-medium);
}

.footer-bottom ul li a {
    color: var(--white-color);
    text-decoration: none;
}

.footer-bottom ul li a:hover {
    color: var(--white-color);
}