/*Variables globales*/
*{
    margin: 0;
}

body {
    padding: 0;
    width: 100%;
    max-width: 1280px;
    font-family: "Lato", sans-serif;
    box-sizing: border-box;
    margin: 0 auto;
}

.container {
    width: 100%;
    max-width: 1080px;
}

header {
    position: fixed;
    width: 1280px;
    height: 103px;
    top: 0;
    z-index: 100;
}

nav {
    position: relative;
}


/*Seccion Header*/
.container-logo {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.6s ease;
}

/*Logo Header*/

.shrink-logo {
    position: fixed;
    top: 6px;
    left: 50%;
}

.shrink-logo img {
    width: 150px;
    height: 86px;
    left: 565px;
    right: 565px;
    top: 6px;
    bottom: 11px;
}

/*button header*/

.green-button {
    box-shadow: 4px 5px 0px #02187e;
    border-radius: 111px;
    background-color: #83c252;
    border: 8px solid #ffff;
    cursor: pointer;
    color: #fff;
    font-style: normal;
    text-align: center;
    animation: slide-in 0.6s ease-out;
    /* Transiciones para el hover, podria agregar para cualquier campo que defina en hover */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.button-compra {
    position: absolute;
    width: 200px;
    height: 50px;
    left: 980px;
    top: 20px;
    font-weight: 900;
}


.green-button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 6.5px #83c252, 0 0 10.5px #5fa537;
}

/* Animacion de entrada para boton comprar*/
@keyframes slide-in {
    from {
        transform: translateY(20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}


/* Menú Hamburguesa */
.menu-hamburguesa {
    cursor: pointer;
    z-index: 2;
    margin-left: 100px;
    margin-right: 1146px;
    margin-bottom: 14734;
    padding-top: 20px;
}

.linea {
    width: 34px;
    height: 4px;
    background-color: #f39e46;
    border-radius: 20px;
    transition: 0.5s ease;
    border: 4px solid #ffff;
    box-shadow: 4px 5px 0px 0px #02187e;

}

.menu-hamburguesa.activo .linea:nth-child(1) {
    transform: rotate(45deg) translate(5px, 12px);
    box-shadow: none;
}

.menu-hamburguesa.activo .linea:nth-child(2) {
    opacity: 0;
}

.menu-hamburguesa.activo .linea:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -12px);
    box-shadow: none;

}

/* Estilos del Menú */
.menu {
    position: fixed;
    top: 80px;
    left: -100%;
    width: 200px;
    height: 30vh;
    display: flex;
    align-items: center;
    transition: 0.5s ease;
    background: linear-gradient(180deg, #00d1d5, rgba(0, 209, 213, 0.90) 100%, rgba(1, 208, 213, 0));
}

.menu.activo {
    left: 0;
    position: absolute;
}

.menu ul {
    list-style: none;
}

.menu ul li {
    margin: 20px 0;
    opacity: 0;
    transform: translateX(-20px);
}

.menu ul li a {
    color: #ffff;
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
    text-shadow: 1px 1px 0px black, -1px -1px 0px black, 1px -1px 0px black, -1px 1px 0px black;
}

/*animacion menu desplegable*/
@keyframes aparecer {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/*Seccion Hero*/
.hero {
    position: relative;
    width: 1280px;
    margin-bottom: -3px;
    background-image: url("../img/ff.png");
    overflow: hidden;
    height: 959px;
}

.hero-content {
    position: relative;
    width: 1080px;
    height: 959px;
    padding-left: 100px;
}

.parallax-capa {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    will-change: transform; /* optimiza el movimiento */
    transition: transform 0.1s ease-out;
    animation: fadeInUp 1s ease;
}



@keyframes fadeInUp {
      /* se anima la entrada del hero con desvanecimiento desde abajo */
    from {
        transform: translateY(100px); 
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1; 
    }
}

.capa-1 {
    background-image: url('../img/arbol_1.png');
    height: 867.751px;
    width: 560.1px;
    top: -1px;
    left: -76px;    
    z-index: 30;
    animation-delay: 0s;
}

.capa-2{
    background-image: url('../img/Vector_6.png');
    z-index: 20;
    width: 249.76px;
    height: 114.44px;
    top: 717.97px;
    left: 161.38px;
    animation-delay: 0.2s;
}

.capa-3{
    background-image: url('../img/Vector_1.png');
    z-index: 40;
    width: 145.411px;
    height: 78.091px;
    top: 793.37px;
    left: 129.07px;
    animation-delay: 0.4s;
}

.capa-4{
    background-image: url('../img/Vector_5.png');
    z-index: 50;
    width: 155.51px;
    height: 102.33px;
    top: 821.65px;
    left: 197.06px;
    animation-delay: 0.6s;
}

.capa-5{
    background-image: url('../img/11.png');
    z-index: 50;
    width: 240.4px;
    height: 314.48px;
    top: 500.33px;
    left: 411px;
    right: 593.66px;
    bottom: 119.25px;
    animation-delay: 0.10s;
}

.capa-6{
    background-image: url('../img/22.png');
    z-index: 30;
    width: 197px;
    height: 270px;
    top: 403px;
    left: 536px;
    right: 516px;
    bottom: 265px;
    animation-delay: 0.12s;
}

.capa-7{
    background-image: url('../img/33.png');
    z-index: 20;
    width: 174px;
    height: 384px;
    top: 338px;
    left: 694px;
    right: 355px;
    bottom: 215px;
    animation-delay: 0.14s;
}

.capa-8{
    background-image: url('../img/arbol_2.png');
    z-index: 30;
    width: 434.212px;
    height: 672.524px;
    left: 881.03px;
    right: 43.8px;
    top: 108px;
    animation-delay: 0.14s;
}


.capa-9{
    background-image: url('../img/Vector_2.png');
    z-index: 40;
    width: 66.65px;
    height: 56.55px;
    top: 737.82px;
    left: 1035.38px;
    right: 177.05px;
    bottom: 164.93px;
    animation-delay: 0.16s;

}

.capa-10{
    background-image: url('../img/Vector_1.png');
    z-index: 50;
    width: 113.77px;
    height: 74.05px;
    top: 737.82px;
    left: 1072.4px;
    bottom: 147.43px;
    animation-delay: 0.18s;

}


.capa-11{
    background-image: url('../img/Vector_7.png');
    z-index: 60;
    width: 59.24px;
    height: 35.01px;
    top: 786.97px;
    left: 1042.78px;
    right: 177.05px;
    bottom: 137.33px;
    animation-delay: 0.20s;

}


.capa-12{
    background-image: url('../img/Vector_4.png');
    z-index: 20;
    width: 244.37px;
    height: 107.71px;
    top: 662.1px;
    left: 1056px;
    right: 10.1px;
    bottom: 9.42px;
    animation-delay: 0.22s;

}


.capa-13{
    background-image: url('../img/arbol_3.png');
    z-index: 10;
    width: 278.03px;
    height: 430.846px;
    left: 1039.21px;
    top: 278.38px;
    animation-delay: 0.24s;

}

.capa-14{
    background-image: url('../img/Vector_3.png');
    z-index: 9;
    width: 191.19px;
    height: 63.28px;
    top: 630.46px;
    left: 1028.46px;
    animation-delay: 0.26s;

}



/* Seccion Descripcion */

.section-descripcion{
    width: 1280px;
    height: 1852px;
    background-image: url("../img/Rectangle_8.png");
    background-repeat: no-repeat;
}

.descripcion {
    position: relative;
    width: 100%;
    max-width: 1080px;
    height: 1852px;
    padding-left: 100px;
}

.descripcion h2 {
    position: absolute;
    width: 508px;
    height: 132px;
    top: 55px;
    line-height: 94.5%;
    font-size: 47px;
    font-weight: 600;
    color: #1B428F;
}

.descripcion_inicial {
    position: absolute;
    width: 704px;
    height: 154px;
    color: #1B428F;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    top: 209px;
}

.descripcion_images {
    position: absolute;
    top: 331px;
    left: 236px;
    width: 518.38px;
    height: 266.35px;
    border-radius: 77px;
    background-image: url("../img/unnamed_1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 1s ease-in-out;
    border: 29px solid #1B428F;
}

.cinco_descripcion {
    position: absolute;
    top: -87px;
    left: 787px;
    width: 492px;
    height: 1259px;
    overflow: hidden;
}

.cinco_descripcion img {
    width: 572px;
    height: 1259px;
}

.cuatro_descripcion {
    position: absolute;
    width: 601.64px;
    height: 603px;
    top: 532px;
    left: 60px;
}

.col {
    top: 1215px;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

/* estilo cuando la card esta visible */
.col.visible {
    opacity: 1;
    transform: translateY(0);
    animation: slideUp 0.5s ease forwards;
}

.cuadro {
    width: 332.96px;
    height: 302.69px;
    background-repeat: no-repeat;
    border-radius: 44px;
    box-shadow: 4px 5px 0px 0px #02187E;
}

.texto_cuadro {
    position: absolute;
    top: 326px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    margin: 0;
}

.col-uno {
    position: absolute;
    left: 100px;
    animation-delay: 0s;
}
.cuadro_uno {
    background-image: url("../img/image_13.png");
}
.texto_uno {
    height: 218px;
    width: 333px;
}

.col-dos {
    position: absolute;
    left: 474px;
    animation-delay: 0.2s;

}
.cuadro_dos {
    background-image: url("../img/image_8.png");
}
.texto_dos {
    width: 332px;
    height: 217px;
}

.col-tres {
    position: absolute;
    left: 847px;
    animation-delay: 0.4s;

}
.cuadro_tres {
    background-image: url("../img/image_24.png");
}
.texto_tres {
    height: 189px;
}

/* Animación de entrada */
@keyframes slideUp {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Seccion descarga */

.descarga {
    width: 1280px;
    height: 1157px;
    background-image: url("../img/Rectangle 26.png");
    background-repeat: no-repeat;
    overflow: hidden;
}

.descarga_container {
    position: relative;
    width: 100%;
    max-width: 1080px;
    height: 1157px;
    padding-left: 100px;
}

.descarga p {
    position: relative;
    top: 175px;
    left: 65px;
    width: 950px;
    height: 153px;
    color: #FFF;
    text-align: center;
    font-size: 61.14px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
}

.button-descarga {
    position: absolute;
    width: 540px;
    height: 66px;
    top: 390px;
    left: 370px;
    color: #FFF;
    font-size: 31.14px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    z-index: 10;
}

.img-descarga {
    position: relative;
    top: 240px;
    left: -100px;
    width: 1280px;
    height: 767px; 
}

/* Seccion video */

.video {
    width: 1280px;
    height: 1443.83px;
    background-image: url("../img/Rectangle 25.png");
    background-repeat: no-repeat;
}

.video_container {
    position: relative;
    width: 100%;
    max-width: 1080px;
    height: 1443.83px;
    padding-left: 100px;
}

.video p {
    position: absolute;
    top: 469px;
    width: 802px;
    color: #FFF;
    font-family: Lato;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 94.5%; /* 56.7px */
}

.reproductor_video {
    position: absolute;
    top: 680px;
    width: 746px;
    height: 394px;
    background-color: #00d1d5;
    border-radius: 45px;
    border: 29px solid #FFF;
}

.video img {
    position: absolute;
    top: 700px;
    left: 731px;
    width: 549px;
    height: 989px;
    z-index: 10;
    /* permirte que al hacer click la imagen ignore el evento y la traspase */
    pointer-events: none;
}

/* Footer  */
.footer-container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

/* Footer juego */
.footer-juego {
    width: 1280px;
    height: 80px;
    background-color: #242424;
}

.footer-juego img {
    display: block;
    width: 1080px;
    height: 75px;
    margin: 0 auto;
}

/* Footer texto */
.footer-texto {
    position: relative;
    width: 1280px;
    background-color: #5E5E5D;
    padding-top: 35px;
    margin-bottom: 119px;
}
.footer-texto p, .footer-links a{
    color: #FFFFFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}
.footer-texto p {
    line-height: 18.9px;
    letter-spacing: 2.2px;
    padding-left: 100px;
    padding-right: 360px;
}

.footer-links {
    margin-top: 20px;
    margin-left: 100px;
    display: flex;
    gap: 5px; 
}

.footer-links a {
    text-decoration: underline;
}

/* Footer redes sociales */
.footer-redes {
    width: 212px;
    height: 41px;
    margin-left: 100px;
    margin-top: 35px;
    margin-bottom: 48px;
}

